<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd "
         version="2.5">

    <display-name>Engage Web Application</display-name>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/spring/applicationContext-sca.xml</param-value>
    </context-param>
    <context-param>
        <param-name>cookieDomain</param-name>
        <param-value>.xiaoshouyi.com</param-value>
    </context-param>
    <context-param>
        <param-name>SystemGlobalsProperties</param-name>
        <param-value>SystemGlobals.properties</param-value>
    </context-param>
    <listener>
        <listener-class>com.rkhd.ienterprise.apps.ingage.dingtalk.util.ContextUtil</listener-class>
    </listener>
    <listener>
        <listener-class>com.rkhd.ienterprise.apps.ingage.dingtalk.listeners.ConfigInitializer</listener-class>
    </listener>
    <!-- 使Spring支持request与session的scope,如:<bean id="loginAction" class="com.foo.LoginAction" scope="request"/> -->
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>

    <!-- Spring 刷新Introspector防止内存泄露 -->
    <listener>
        <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
    </listener>

    <filter>
        <filter-name>SpringCharacterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SpringCharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>struts2-prepare</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareFilter</filter-class>
    </filter>
    <!--<filter>-->
        <!--<filter-name>sitemesh</filter-name>-->
        <!--<filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>-->
    <!--</filter>-->
    <filter>
        <filter-name>struts2-execute</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsExecuteFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>struts2-prepare</filter-name>
        <url-pattern>*.action</url-pattern>
    </filter-mapping>
    <!--<filter-mapping>-->
        <!--<filter-name>sitemesh</filter-name>-->
        <!--<url-pattern>*.action</url-pattern>-->
    <!--</filter-mapping>-->
    <filter-mapping>
        <filter-name>struts2-execute</filter-name>
        <url-pattern>*.action</url-pattern>
    </filter-mapping>

    <jsp-config>
        <jsp-property-group>
            <description>
                jsp编码设置
            </description>
            <display-name>JSPConfiguration</display-name>
            <url-pattern>*.jsp</url-pattern>
            <el-ignored>false</el-ignored>
            <page-encoding>utf-8</page-encoding>
            <scripting-invalid>false</scripting-invalid>
            <include-prelude></include-prelude>
            <include-coda></include-coda>
            <trim-directive-whitespaces>true</trim-directive-whitespaces>

        </jsp-property-group>
    </jsp-config>

    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/error404.html</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/error500.html</location>
    </error-page>





</web-app>
